[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"

[packages]
peewee = "*"
psycopg2 = "==2.7.5"
python-dateutil = "*"
flask = "*"
flask-restful = "*"
bcrypt = "*"
gunicorn = "*"
psycopg = "==2.7.5"
werkzeug = "==0.15.4"
psycopg2-binary = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
